:root {
  --white: #fff;
  --gray: #2f303a;
  --dgray: #212121;
  --lgray: #757575;
  --blue: #2196f3;
  --gray-background: #f5f4fa;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  padding: 0;
}
figure {
  margin: 0;
}
body {
  background-color: var(--white);
  color: var(--dgray);
  font-family: "roboto", sans-serif;
  font-style: normal;
}
.menu-container {
  display: flex;
  max-width: 1200px;
  max-height: 80px;
  justify-content: space-between;
  margin: 0 15px;
}
.logo-blue {
  font-family: "raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: var(--blue);
  line-height: 1.17em;
  letter-spacing: 0.03em;
}
.logo-black {
  font-family: "raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #000;
  line-height: 1.17em;
  letter-spacing: 0.03em;
}
.logo-white {
  font-family: "raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: var(--white);
  line-height: 1.17em;
  letter-spacing: 0.03em;
}
.menu {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17em;
  letter-spacing: 0.02em;
}
.link {
  text-decoration: none;
}
.link-contact {
  color: var(--lgray);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17em;
  letter-spacing: 0.02em;
}
.link-contact-footer {
  text-decoration: none;
  color: var(--white);
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  opacity: 60%;
}
.address {
  color: var(--white);
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}

.link:hover,
.link:focus {
  color: var(--blue);
}
.list {
  display: flex;
  list-style: none;
  font-style: normal;
}
.list-item {
  list-style: none;
}
.main-background {
  display: flex;
  background-color: var(--gray);
  max-width: 1200px;
  min-height: 600px;
  justify-content: center;
  flex-direction: column;
}
.main-header {
  display: flex;
  color: inherit;
  font-size: 36px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
}
.main-text {
  color: var(--white);
  max-width: 696px;
  max-height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  letter-spacing: 0.06em;
  text-align: center;
}
.button {
  color: var(--white);
  background-color: var(--blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 0;
  min-width: 200px;
  min-height: 50px;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
}
.footer {
  background-color: var(--gray);
  max-width: 1200px;
  max-height: 252px;
  margin: 0 auto;
}
.footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer > .footer-container {
  padding: 60px 15px;
}
.active-page {
  color: var(--blue);
}
.lorem-header {
  color: inherit;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
}
.lorem-text {
  color: var(--lgray);
  max-width: 270px;
  max-height: 75px;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}
.button-portfolio {
  color: inherit;
  background-color: var(--gray-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  letter-spacing: 0.03em;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 4px;
  padding: 6px 22px;
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--white);
  background-color: var(--blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.caption {
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
}
.caption-gray {
  color: var(--lgray);
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
}
.caption-portfolio {
  color: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
}
.caption-gray-portfolio {
  color: var(--lgray);
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
}
.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
}
.main-pictures {
  display: flex;
  justify-content: space-around;
}
.column {
  flex-direction: column;
}
.team {
  max-width: 270px;
  max-height: 368px;
  background-color: var(--white);
}
.team-container {
  background-color: var(--gray-background);
  max-height: 648px;
}
.buttons-portfolio {
  display: flex;
  flex-direction: column;
}
.container-portfolio {
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
}
.projects {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-box {
  display: flex;
  min-width: 370px;
  min-height: 404px;
  border: 1px solid #eee;
}
.menu-self {
  display: flex;
  align-self: flex-start;
}
